snippet tag 
<$1> $0 </$1>
endsnippet

snippet tagi 
<$1>
	$0
</$1>
endsnippet

snippet img
<img src="$0">
endsnippet

snippet link
<a href="$1"> $0 </a>
endsnippet


snippet template
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title> U </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="style.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>

$0

</body>
</html>
endsnippet
